#Top_Content_Container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
#Hero_Image {
    object-fit: contain;
    height: 1000px;
    filter: blur(3px);
}
#Hero_Text_Container {
   position: absolute;
   margin-top: 120px;
   text-align: center;
}
#Hero_Text {
    font-size: 5rem;
    color: whitesmoke;
    font-weight: 500;
    animation-name: fade-in;
    animation-duration: 3s;
}

#Hero_Button_Container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
}
#Rent_Sell_Buy {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    padding: 25px;
}
#Rent_Sell_Buy button {
    margin: 10px;
    background-color: olive;
    cursor:pointer;
}

#Hero_Button {
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: darkslateblue;
}
#Hero_Register_Button {
    border: none;
    padding: 15px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: olivedrab;
}
/* ANIMATION */
@keyframes fade-in { 
    from {opacity: 0}
    to {opacity: 1}
}
/* RESPONSIVE TO SCREEN SIZES */
@media screen and (max-width: 600px) {
    #Hero_Text {
        font-size: 2.5rem;
    }
    #Hero_Text_Container {
        margin-top: 25px;
    }
}