#Top_Content_Container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#Hero_Image {
    height: 900px;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
}
#Hero_Text_Container {
   position: absolute;
   width: 90%;
   margin-top: 180px;
   text-align: center;
}
#Hero_Text {
    font-size: 5rem;
    color: whitesmoke;
    font-weight: 500;
}

#Hero_Button_Container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
}

#Hero_Button {
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background-color: lightskyblue;
}
#Hero_Register_Button {
    border: none;
    padding: 15px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}